/*Seteos iniciales_______________________________________________________________________*/
/*///////////////////////////////////////////////////////////////////////////////////////*/
/*_______________________________________________________________________________________*/
@media (max-width: 5000000px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
    font-family: sans-serif;
  }
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

/*section___________________________________________________________________________________*/
/*///////////////////////////////////////////////////////////////////////////////////////*/
/*_______________________________________________________________________________________*/

section {
  height: 100vh;
  /* background-image: url(img-servicios-especiales/1.despedido.jpg);
  background-size: 100%;
  background-repeat: no-repeat;*/
  background-color: rgb(4, 36, 51);
}

/*afiche publicitario______________________________________________________________________________*/
/*------------------------------------------------------------------------------*/
.afiche-publicitario {
  height: 100vh;
  width: 97vw;
  border-top: solid rgb(4, 36, 51) 2rem;
  border-bottom: solid rgb(4, 36, 51) 2rem;
  margin: 0 auto 0 auto;
  background-image: url(img-servicios-especiales/1.despedido.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 10% 40%;
  position: relative;
}

@media (max-width: 950px) {
  .afiche-publicitario {
    background-image: url(img-servicios-especiales/1.despedido2.jpg);
  }
}

@media (max-width: 350px) {
  .afiche-publicitario {
    background-image: url(img-servicios-especiales/1.despedido3.jpg);
    overflow: hidden;
  }
}

/*titular principal______________________________________________________________________________*/
.titular-principal {
  margin: 3rem 2rem 2rem 0;
  padding: 1rem 1rem 1rem 15rem;
  height: fit-content;
  width: fit-content;
  background-color: orangered;
  color: rgb(255, 255, 255);
}

@media (max-width: 950px) {
  .titular-principal {
    padding: 1rem 1rem 1rem 1rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .titular-principal {
    position: absolute;
    top: 2rem;
  }
}

/*explicación______________________________________________________________________________*/
.explicación {
  height: fit-content;
  width: 40%;
  padding: 2rem 2rem 2rem 2rem;
  background-color: rgba(255, 255, 255, 0.567);
  position: absolute;
  right: 0;
  top: 5%;
  line-height: 2.5rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0.11rem 0.1rem 0.5rem rgba(0, 0, 0, 0.396);
}

.destacado1 {
  color: orangered;
  font-weight: 900;
}

.destacado2 {
  font-weight: 800;
}

.destacado3 {
  display: block;
  margin: 0 auto 0 auto;
  font-size: 3rem;
  font-weight: 700;
  color: orangered;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(4, 9, 10, 0.394);
  text-align: center;
}

@media (max-width: 950px) {
  .explicación {
    font-size: 1.2rem;
    line-height: 1.5rem;
    top: 10%;
  }

  .destacado3 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .explicación {
    top: 15%;
    width: 50%;
  }
}
/*formulario______________________________________________________________________________*/

.logo {
  height: 4.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 950px) {
}
.contenedor-formulario {
  background-color: rgba(11, 89, 167, 0.829);
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  border-top-left-radius: 20px;
}

.contenedor-formulario p {
  font-weight: 700;
  color: aliceblue;
}

@media (max-width: 950px) {
  .contenedor-formulario,
  .contenedor-formulario p {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .contenedor-formulario {
    width: 100%;
    background-color: rgb(11, 89, 167);
  }
}

form {
  width: fit-content;
  background-color: rgba(0, 0, 255, 0);
  margin: 0 auto 0 auto;
}

label,
input {
  display: block;
  height: 2rem;
  color: rgb(13, 14, 15);
}

label {
  color: aliceblue;
}

input {
  width: 25rem;
}

button {
  display: block;
  margin: 0.5rem auto 0 auto;
  background-color: rgba(14, 86, 163, 0.486);
  color: aliceblue;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0.11rem 0.1rem 0.5rem black;
}
